[submodule "neoprism"]
	path = neoprism
	url = git@github.com:hyperledger-identus/neoprism.git
	branch = main
[submodule "sdk-ts"]
	path = sdk-ts
	url = git@github.com:hyperledger-identus/sdk-ts.git
	branch = main
[submodule "cloud-agent"]
	path = cloud-agent
	url = git@github.com:hyperledger-identus/cloud-agent.git
	branch = main
[submodule "midnight-did"]
	path = midnight-did
	url = git@github.com:midnightntwrk/midnight-did.git
	branch = develop
[submodule "lace-kyc"]
	path = lace-kyc
	url = git@github.com:input-output-hk/lace-kyc.git
